<header class="app--header">
  <div class="app-header">
    <div class="app-header--logo"></div>
  </div>

  {{search-form searchValues=searchValues onUpdate="updateQueryParams"}}
</header>

<div class="app--main">
  {{search-results model=model}}
</div>
