<header class="app--header">
  {{app-header}}
  {{search-form params=model.params
      loading=loading
      onSubmit=(route-action "updateQueryParams")}}
</header>

<div class="app--main">
  {{#if loading}}
    <p class="text-center">Loading...</p>
  {{else}}
    {{search-results model=model.contents}}
  {{/if}}
</div>
